<article class="service-ad">
	<div class="ad-header">
		<img class="ad-picture" src="{{picture}}"  width="100" height="100"></img>
		<p class="ad-title">{{title}}</p>
	</div>
	<div class="ad-content">
		<p class="ad-text">{{text}}</p>
		<p class="ad-rating">{{rating}}</p>
	</div>
</article>
