<article class="question">
    <div class="question-icon">
        <i class="fas fa-question"></i>
    </div>
    <div class="question-content">
        <p class="question-text">{{question}}</p>
        <div class="faq-answer">{{answer}}</div>
    </div>
</article>