<header>
    <a href="#"><h1 class="site-title">Favor</h1></a>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="home.html">HOME</a></li>
            <li class="navitem navlink"><a href="about.html">ABOUT</a></li>
            <li class="navitem navlink"><a href="contact.html">CONTACT</a></li>
            <li class="navitem navlink"><a href="faq.html">FAQ</a></li>
            <li class="navitem navbar-search">
                <input type="text" id="navbar-search-box" placeholder="Search..." />
                <!--button type="button" id="navbar-search-button"></button-->
            </li>
        </ul>
    </nav>
</header>
