{{> header }}

<div class="about-container">

    <a href=""></a>

    <h1 class="about-header"> About </h1>
    <div class="circle-icon">
        <i class="fas fa-user-circle"></i>
    </div>
    <p class="about-page-text"> Favor is a website designed by various web developers who want to make your life easier by providing all the basic services under one click. You can find beauty shops, talented photographers from all over the country, and different other artits on our website. </p>

</div>