{{> header }}

<main class="contact-container">
    <div class="contact">
        <p class="contact-text">
            Sophia Chath
            <br />
        <p class="contact-email">
            ChathS@oregonstate.edu
        </p>
        </p>
    </div>
    <div class="contact">
        <p class="contact-text">
            Nowlen Webb
            <br />
        <p class="contact-email">
            WebbJos@oregonstate.edu
        </p>
        </p>
    </div>
    <div class="contact">
        <p class="contact-text">
            Sophie Velasco
            <br />
        <p class="contact-email">
            VelascoS@oregonstate.edu
        </p>
        </p>
    </div>
    <div class="contact">
        <p class="contact-text">
            Nav
            <br />
        <p class="contact-email">
            KaurNa@oregonstate.edu
        </p>
        </p>
    </div>
</main>