{{> header}}

<div class="question-container">
    <h1 class="faq-header"> Frequently Asked Questions </h1>
    <article class="question">
        <div class="question-icon">
            <i class="fas fa-question"></i>
        </div>
        <div class="question-content">
            <p class="question-text">What locations does this service provide for?</p>
            <div class="faq-answer">At the moment, this service can be used only within the US and Canada.</div>
        </div>
    </article>

    <article class="question">
        <div class="question-icon">
            <i class="fas fa-question"></i>
        </div>
        <div class="question-content">
            <p class="question-text">How much does it cost for the whole process?</p>
            <div class="faq-answer">That will depend on the person you'd like to get for your service.</div>
        </div>
    </article>

    <article class="question">
        <div class="question-icon">
            <i class="fas fa-question"></i>
        </div>
        <div class="question-content">
            <p class="question-text">Will you be providing any other services in the future?</p>
            <div class="faq-answer">If we have any popular requests, we'd be more than happy to.</div>
        </div>
    </article>

    <article class="question">
        <div class="question-icon">
            <i class="fas fa-question"></i>
        </div>
        <div class="question-content">
            <p class="question-text">Can you also provide pictures of cats?</p>
            <div class="faq-answer">If those cats can perform, sure!</div>
        </div>
    </article>
</div>