{{> header}}

<main class="service-container">
    <div class="service-icon">
        <a href="performers">
            <img src="icons/microphone.png" class="service-image" width="180" height="180"></img>
        </a>
        <div class="service-icon-text">
            <a href="performers"> Performers </a>
        </div>
    </div>

    <div class="service-icon">
        <a href="photographers">
            <img src="icons/camera.png" class="service-image" width="180" height="180"></img>
        </a>
        <div class="service-icon-text">
            <a href="photographers"> Photographers</a>
        </div>
    </div>

    <div class="service-icon">
        <a href="beauty">
            <img src="icons/scissors.png" class="service-image" width="180" height="180"></img>
        </a>
        <div class="service-icon-text">
            <a href="beauty"> Self Care</a>
        </div>
    </div>
</main>
