body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

a {
    text-decoration: none;
}

header {
    background-color: white;
    margin: 0px;
}

.site-title {
    font-family: 'Norican', cursive;
    height: 80px;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    background-color: white;
    color: black;
    margin-top: 0;
    margin-bottom: 25px;
}

.navbar {
    background-color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    border-bottom: 5px solid black;
}

.navlist {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    color: black;
}

.navitem {
    display: inline-block;
    margin-right: 100px;
}

a {
    color: black;
}

a:hover,
a:focus {
    color: darkgrey;
}

.navlink {
    font-weight: 700;
    padding-top: 7px;
}

.navlink.active {
    box-shadow: inset 0 -3px darkgrey;
}

.navbar-search {
    float: right;
    margin-right: 20px;
    line-height: 38px;
}

#navbar-search-box {
    padding: 4px;
    padding-left: 35px;
    font-size: 16px;
    width: 280px;
    background-color: #eee;
    border: none;
    border-radius: 15px;
}

#navbar-search-box:focus {
    outline: none;
    background-color: lightgray;
}

.service-container {
    margin: 100px 17%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.service-icon {
    display: inline-block;
    margin: 15px;
    padding: 20px;
    float: left;
    text-align: center;
    vertical-align: top;
    align-items: center;
}

.service-icon-text {
    display: block;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.service-image{
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #77736b;
}

.contact-container {
    margin: 40px 35%;
    display: block;
    float: right;
    left: -50%;
    text-align: center;
} 

.contact {
    margin: 15px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 2px;
    width: 500px;
    background-color: #fff;
}

.contact-text {
    font-size: 22px;
    font-weight: 700;
    margin-left: 10px;
}
.contact-email {
    font-size: 22px;
    font-weight: 400;
    margin-left: 10px;
}

.contact-text p {
        margin: 0;
} 

.about-page {
    text-align: center;
    padding-left: 12em;
}

.about-page-text {
    font-weight: 500;
    font-size: larger;
}

.ad-container {
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
}

.service-ad {
    flex: 0 1 28%;
    display: flex;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #fff;
}

.ad-content {
    flex: 1 1 80%;
    /*margin-left: 10px;*/
}

.ad-title{
    font-size: 30px;
    font-weight: 400;
}
.ad-text{
    font-size: 20px;
    float: left;
    position: relative;
    top: 10px;
    right: 50px;
}

.ad-content p {
    margin: 0;
}

.ad-rating {
    margin-top: 8px;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

.faq-header{
	text-align: center;
	position: relative;
}

.question-container{
	float: left;
	position: relative;
	left: 29%;
}

.question{
	flex: 0 1 28%;
	display: flex;
	background-color: white;
	margin: 2px;
	padding: 20px;
	border: 1px solid #dadada;
	border-radius: 2px;
}

.question-text{
	flex: 1 1 80%;
	margin-left: 20px;
	text-align: left;
	font-weight: bold;
	margin-top: 15px;
}

.question-icon{
	margin-top: 14px;
}
