body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

a {
    text-decoration: none;
}

header {
    background-color: white;
    margin: 0px;
}

.site-title {
    background-color: white;
    color: black;
    font-family: 'Norican', cursive;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    height: 80px;
    margin-top: 0;
    margin-bottom: 25px;
}

.navbar {
    background-color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    border-bottom: 5px solid black;
}

.navlist {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    color: black;
}

.navitem {
    display: inline-block;
    margin-right: 100px;
}

a {
    color: black;
}

a:hover,
a:focus {
    color: darkgrey;
}

.navlink {
    font-weight: 700;
    padding-top: 7px;
}

.navlink.active {
    box-shadow: inset 0 -3px darkgrey;
}

.navbar-search {
    float: right;
    margin-right: 20px;
    line-height: 38px;
}

#navbar-search-box {
    background-color: #eee;
    font-size: 16px;
    padding: 4px;
    padding-left: 35px;
    width: 280px;
    border: none;
    border-radius: 15px;
}

#navbar-search-box:focus {
    background-color: lightgray;
    outline: none;
}

/*--------------------Home Page----------------------*/
.service-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.service-icon {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    float: left;
    text-align: center;
    vertical-align: top;
    align-items: center;
}

.service-icon-text {
    display: block;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.service-image {
	max-width: 100%;
	height: auto;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #77736b;
	object-fit: contain;
}

/*--------------------Contact Page----------------------*/
.contact-container {
	position: relative;
	float: left;
	left: 29%;
} 

.contact {
    background-color: #fff;
    margin: 15px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 2px;
    width: 500px;
}

.contact-text {
    font-size: 22px;
    font-weight: 700;
    margin-left: 10px;
}
.contact-email {
    font-size: 22px;
    font-weight: 400;
    margin-left: 10px;
}

.contact-text p {
    margin: 0;
} 

/*--------------------About Page----------------------*/
.about-container {
	position: relative;
	text-align: center;
}

.about-header {
	position: relative;
	text-align: center;
}

.about-page-text {
    font-weight: 500;
    font-size: larger;
	margin-left: 120px;
	margin-right: 120px;
}

.circle-icon {
	font-size: 200px;
}

/*--------------------FAQ Page----------------------*/
.faq-header{
	position: relative;
	text-align: center;
}

.question-container {
	position: relative;
	float: left;
	left: 29%;
}

.question {
	flex: 0 1 28%;
	display: flex;
	background-color: white;
	margin: 2px;
	padding: 20px;
	border: 1px solid #dadada;
	border-radius: 2px;
}

.question-text {
	flex: 1 1 80%;
	margin-left: 20px;
	text-align: left;
	font-weight: bold;
	margin-top: 15px;
}

.question-icon {
	margin-top: 14px;
}

/*--------------------Service/Ad Pages----------------------*/
.ad-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.service-ad {
    flex: 1 200px;
    background-color: #fff;
 	position: relative;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);

    /*padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;*/
}

.ad-header {
    display: block;
    height: 120px;
}

.ad-content {
    display: block;
    height: 80px;
}

.ad-picture {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.ad-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
    font-style: normal;
    font-weight: 900;
	text-transform: uppercase;
    float: right;
	margin-right: 20px;
	margin-top: 10px;
}

.ad-text {
	position: absolute;
	color: #5b5b5b;
	font-size: 16px;
    float: left;
	margin-left: 15px;
}

.ad-rating {
	position: absolute;
	color: #d1b38c;
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
	font-size: 20px;
	bottom: 0;
	right: 0;
	margin-right: 15px;
}




/*
.ad-container {
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
}

.service-ad {
    flex: 0 1 28%;
    display: flex;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #fff;
}
.ad-title{
    font-size: 30px;
    font-weight: 400;
}
.ad-text{
    font-size: 20px;
    float: left;
}

.ad-content {
    flex: 1 1 80%;
    margin-left: 10px;
}

.ad-content p {
    margin: 0;
}

.ad-rating {
    margin-top: 8px;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

*/

